{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Archivos estaticos, conexion css-->
    <link href="{% static 'myapp/css/estiloinicio.css' %}" rel="stylesheet" />

    <!--Fuentes google fonts, Inter -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />

    <title>Bienvenido</title>
  </head>

  <body>
    <h1>Bienvenido</h1>
    <!--Imagen subida del logo-->
    <div class="contenedor">
      <img
        src="{% static 'myapp/imagenes/logo.jpeg' %}"
        alt="Logo de la empresa"
        title="Logo Autoservicio El Trigal"
      />
    </div>

    <!--Botones de Iniciar Sesión y Registrate-->
    <div class="contenedor_botones">
      <a href="{% url 'inicio' %}" class="btn-Inicio">Iniciar sesión</a>
      <a href="{% url 'register' %}" class="btn-Registrate">Registrarse</a>
    </div>
  </body>
</html>
