{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Autoservicio el Trigal - Tu tienda de conveniencia con los mejores productos"
    <link rel="stylesheet" href="styles.css">
    <title>Autoservicio el Trigal | Tienda de conveniencia</title>

    <!-- Conexión CSS -->
    <link href="{% static 'myapp/css/principal.css' %}" rel="stylesheet" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Bootstrap Icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <!-- Animate CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
  </head>
  <body>
    <!-- Preloader -->
<div id="preloader">
  <div class="spinner-border text-success" role="status">
    <span class="visually-hidden">Cargando...</span>
  </div>
</div>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img
            src="{% static 'myapp/imagenes/logosinfondo.png' %}"
            alt="Autoservicio el Trigal"
            width="180"
            class="logo-hover"
            title="Logo Autoservicio el trigal"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" href="#">Inicio</a>
            </li>

          </li>
          <li class="nav-item">
            <a class="nav-link" href="#mision-vision">Nosotros</a>
          </li>

            <li class="nav-item">
              <a class="nav-link active" href="#productos">Productos </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#contacto">Contacto</a>
            </li>


            <li class="nav-item ms-lg-3">
              <button
                class="btn mi-boton"
                data-bs-toggle="modal"
                data-bs-target="#loginModal"
              >
                <i class="bi bi-person-circle me-1"></i> Acceder
              </button>
            </li>
          </ul>
        </div>
      </div>
    </nav>

<section>
      <!--Carrusel de imagenes-->
<!-- Reemplaza tu sección de carrusel actual con este código -->
<div id="customCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
  <!-- Indicadores -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#customCarousel" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#customCarousel" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#customCarousel" data-bs-slide-to="2"></button>
    <button type="button" data-bs-target="#customCarousel" data-bs-slide-to="3"></button>
    <button type="button" data-bs-target="#customCarousel" data-bs-slide-to="4"></button>
    <button type="button" data-bs-target="#customCarousel" data-bs-slide-to="5"></button>
  </div>
  <script src="script.js"></script>
  <!-- Slides -->
  <div class="carousel-inner">
    <!-- Slide 1 -->
     <center>
    <div class="carousel-item active">
      <img src="{% static 'myapp/imagenes/imagen1.jpeg' %}" class="d-block w-50" alt="Imagen 1">
    </div>
  </center>
    <!-- Slide 2 -->
     <center>
    <div class="carousel-item">
      <img src="{% static 'myapp/imagenes/imagen2.jpeg' %}" class="d-block w-50" alt="Imagen 2">
    </div>
  </center>

    <!-- Slide 3 -->
     <center>
    <div class="carousel-item">
      <img src="{% static 'myapp/imagenes/imagen3.jpeg' %}" class="d-block w-50" alt="Imagen 3">
    </div>
  </center>

    <!-- Slide 4 -->
     <center>
    <div class="carousel-item">
      <img src="{% static 'myapp/imagenes/imagen4.jpeg' %}" class="d-block w-50" alt="Imagen 4">
    </div>
    </center>
    <!-- Slide 5 -->
    <center>
    <div class="carousel-item">
      <img src="{% static 'myapp/imagenes/imagen.jpeg' %}" class="d-block w-50" alt="Imagen 5">
    </div>
    </center>
    <!-- Slide 6 -->
    <center>
    <div class="carousel-item">
      <img src="{% static 'myapp/imagenes/imagen6.jpeg' %}" class="d-block w-50" alt="Imagen 6">
    </div>
  </div>
   </center>

  <!-- Controles -->
  <button class="carousel-control-prev" type="button" data-bs-target="#customCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#customCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>
</section>

    <!-- Features Section -->
    <section class="py-5 bg-white">
      <div class="container">
        <div class="row g-4">
          <div class="col-md-4">
            <div class="card border-0 text-center p-4 h-100">
              <div class="card-icon">
                <i class="bi bi-cart-check"></i>
              </div>            
              <h3>Los Mejores Precios </h3>
              <p class="text-muted">
                Ofrecemos los mejores precios del mercado con productos de alta
                calidad.
                <i class="fas fa-shopping-cart"></i>
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card border-0 text-center p-4 h-100">
              <div class="card-icon">
                <i class="bi bi-truck"></i>
              </div>
              <h3>Variedad de productos</h3>
              <p class="text-muted">
                En el Autoservicio El Trigal, contamos con una extensa gama de productos de primera calidad, desde alimentos frescos hasta productos de limpieza y artículos de cuidado personal.
                <i class="fas fa-shopping-cart"></i>
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card border-0 text-center p-4 h-100">
              <div class="card-icon">
                <i class="bi bi-person-check"></i>
              </div>
              <h3>Estamos para ayudarte</h3>
              <p class="text-muted">
                Recibe la mejor atención de parte de nuestro equipo durante tu visita al supermercado.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Mission & Vision Section -->
    <section id="mision-vision" class="mission-vision">
      <div class="container position-relative">
        <h2
          class="text-center section-title animate__animated animate__fadeInUp"
        >
        
          Nuestra Empresa

        
        </h2>
        <div class="row g-5">
          <div class="col-lg-6 animate__animated animate__fadeInLeft">
            <div class="card bg-white p-4">
              <div class="card-body">
                <h3 class="card-title text-center mb-4">
                  <i class="bi bi-bullseye me-2"></i>Misión
                </h3>
                <p class="card-text">
                  En Autoservicio el Trigal nos comprometemos a ofrecer
                  productos de alta calidad a precios competitivos, brindando un
                  servicio excepcional que supere las expectativas de nuestros
                  clientes. Nos esforzamos por crear una experiencia de compra
                  agradable y conveniente para toda la comunidad.
                </p>
                <p class="card-text">
                  Nuestro objetivo es ser el autoservicio de referencia en la
                  zona, destacando por nuestra variedad de productos, atención
                  personalizada y compromiso con la satisfacción del cliente.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 animate__animated animate__fadeInRight">
            <div class="card bg-white p-4">
              <div class="card-body">
                <h3 class="card-title text-center mb-4">
                  <i class="bi bi-eye me-2"></i>Visión
                </h3>
                <p class="card-text">
                  Aspiramos a ser reconocidos como el autoservicio líder en
                  nuestra región, expandiendo nuestra presencia y diversificando
                  nuestra oferta de productos para satisfacer las necesidades
                  cambiantes de nuestros clientes.
                </p>
                <p class="card-text">
                  Buscamos implementar tecnologías innovadoras que mejoren la
                  experiencia de compra, manteniendo siempre nuestros valores de
                  honestidad, calidad y servicio al cliente como pilares
                  fundamentales de nuestro negocio.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  <section>
    <title>Sección de Productos</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <section id="productos" class="productos">
        <h2>Nuestros Productos</h2>
        <div class="contenedor-productos">
            <div class="producto">
              <div>
                <img src={% static 'myapp/imagenes/lacteo.jpg' %} alt="productos 1">
              </div>
                <h3>Alimentos frescos</h3>
                <p class="descripcion">Productos naturales como frutas, verduras, carnes y lácteos que se caracterizan por su frescura, 
                  sabor auténtico y alto valor nutricional, ideales para una alimentación saludable.</p>
                
                
            </div>
            
            <div class="producto">
              <img src={% static 'myapp/imagenes/cereal.jpg' %} alt="Producto 2">
              <h3>Alimentos envasados y procesados</h3>
              <p class="descripcion">Productos listos para consumir o preparar, como pastas, enlatados, galletas y conservas, 
                que ofrecen practicidad y una larga duración sin perder su sabor y calidad.</p>
             
          </div>
            <div class="producto">
                <img src={% static 'myapp/imagenes/cerveza.jpg' %} alt="Producto 3">
                <h3>Bebidas </h3>
                <p class="descripcion">Refresca tu día con nuestra variedad de bebidas: desde aguas y jugos naturales hasta gaseosas,
                   leches y bebidas energéticas para todos los gustos y ocasiones.</p>
               
            </div>

         

            <div class="producto">
                <img src={% static 'myapp/imagenes/limpieza.jpg' %} alt="Producto 4">
                <h3>Limpieza del hogar</h3>
                <p class="descripcion">Todo lo que necesitas para mantener tu hogar impecable: detergentes, desinfectantes, limpiadores multiusos y más,
                   con fórmulas eficaces contra la suciedad y los gérmenes.</p>
                
            </div>

            <div class="producto">
              <img src={% static 'myapp/imagenes/lpersonal.jpg' %} alt="Producto 5">
              <h3>Cuidado personal y aseo</h3>
              <p class="descripcion">Productos pensados para tu bienestar diario: shampoos, jabones, desodorantes, 
                papel higiénico y más, para que te sientas fresco, limpio y cómodo en todo momento.</p>   
          </div>

          <div class="producto">
            <img src={% static 'myapp/imagenes/bateria.jpg' %} alt="Producto 4">
            <h3>Otros productos</h3>
            <p class="descripcion">Encuentra artículos complementarios para tu día a día: útiles escolares, 
              utensilios de cocina, baterías, productos de temporada y mucho más, todo en un solo lugar.</p>
        </div>
  </section>
    

<!-- Contact Section -->
<section id="contacto" class="py-5 bg-light">
  <div class="container">
    <h2 class="text-center section-title animate__animated animate__fadeInUp">
      Contáctanos
    </h2>
    <p class="text-center mb-5 animate__animated animate__fadeInUp">
      Estamos aquí para atenderte. Visítanos o escríbenos.
    </p>

    <div class="row g-5 justify-content-center text-center">
      <div class="col-lg-6 animate__animated animate__fadeInLeft">
        <div class="card border-0 shadow-sm h-100">
          <div class="card-body p-4">
            <h3 class="card-title mb-4">Información de Contacto</h3>
            <ul class="list-unstyled">
              <li class="mb-3">
                <i class="bi bi-geo-alt-fill me-2 text-primary"></i> Av.
                Principal #123, Ciudad, País
              </li>
              <li class="mb-3">
                <i class="bi bi-telephone-fill me-2 text-primary"></i> +123
                456 7890
              </li>
              <li class="mb-3">
                <i class="bi bi-envelope-fill me-2 text-primary"></i>
                info@example.com
              </li>
              <li class="mb-3">
                <i class="bi bi-clock-fill me-2 text-primary"></i> Lunes a
                Domingo: 9:00 AM - 5:00 PM
              </li>
            </ul>
            <div class="mt-4">
              <h4>Síguenos</h4>
              <div class="social-icons mt-3">
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-whatsapp"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> <!-- ✅ Cierre correcto del section de contacto -->

<!-- Map Section -->
<section>
  <div class="map-container">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3975.086374780033!2d-72.8351789!3d5.7672438!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e6a49a36d9c6389%3A0x4be4bdbbd3bb0340!2sAutoservicio%20El%20Trigal!5e0!3m2!1ses!2sco!4v1614321001000!5m2!1ses!2sco"
      width="100%"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
    ></iframe>
  </div>
</section>

<!-- Footer -->
<footer class="bg-dark text-white w-100 m-0 p-0">
  <div class="container-fluid py-5 px-5">
    <div class="row g-4">
      <!-- Columna 1 -->
      <div class="col-lg-4">
        <img
          src="{% static 'myapp/imagenes/logosinfondo.png' %}"
          alt="Autoservicio el Trigal"
          width="150"
          class="mb-3"
        />
        <p>
          Tu tienda de conveniencia con los mejores productos y atención
          personalizada desde 2010.
        </p>
        <div class="social-icons mt-3">
          <a href="#"><i class="bi bi-facebook text-white me-2"></i></a>
          <a href="#"><i class="bi bi-instagram text-white me-2"></i></a>
          <a href="#"><i class="bi bi-whatsapp text-white"></i></a>
        </div>
      </div>

      <!-- Columna 2 -->
      <div class="col-lg-2 col-md-6">
        <h5 class="mb-4">Enlaces</h5>
        <ul class="list-unstyled footer-links">
          <li class="mb-2"><a class="text-white text-decoration-none" href="#">Inicio</a></li>
          <li class="mb-2"><a class="text-white text-decoration-none" href="#mision-vision">Nosotros</a></li>
          <li class="mb-2"><a class="text-white text-decoration-none" href="#productos">Productos</a></li>
          <li class="mb-2"><a class="text-white text-decoration-none" href="#contacto">Contacto</a></li>
        </ul>
      </div>

      <!-- Columna 3 -->
      <div class="col-lg-3 col-md-6">
        <h5 class="mb-4">Horario</h5>
        <ul class="list-unstyled">
          <li class="mb-2">Lunes a Viernes: 8:00 AM - 7:00 PM</li>
          <li class="mb-2">Sábados: 8:00 AM - 7:00 PM</li>
          <li class="mb-2">Domingos: 9:00 AM - 5:00 PM</li>
        </ul>
      </div>
    </div>

    <hr class="my-4 bg-white" />

    <div class="row">
      <div class="col-md-6 text-center text-md-start">
        <p class="mb-0">
          © 2025 Autoservicio el Trigal. Todos los derechos reservados.
        </p>
      </div>
      <div class="col-md-6 text-center text-md-end">
        <p class="mb-0">
          Diseñado con <i class="bi bi-heart-fill text-danger"></i>
          por: Carol Stefany Cepeda <br />
          Cristian Andres Meneses <br />
          Yeisson Francisco Gonzalez <br />
          Oscar Javier Gomez Tamaral
        </p>
      </div>
    </div>
  </div>
</footer>

    

    {% include 'paginas/modal_inicio.html' %}

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    {% if show_login_modal %}
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var loginModal = new bootstrap.Modal(document.getElementById("loginModal"));
        loginModal.show();
      });
    </script>
    {% endif %}
 


    <!-- jQuery (necesario para Bootstrap) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap JS Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Conexión JS -->
    {% if show_login_modal %}
    
    {% endif %}

    <script>
      var hasErrorMessages = false;
      {% for message in messages %}
          {% if "error" in message.tags %}
              hasErrorMessages = true;
    </script>
    {% endif %} {% endfor %}
    <!-- <script>
    window.addEventListener("load", function () {
      const preloader = document.getElementById("preloader");
      if (preloader) {
        preloader.classList.add("fade-out");
        setTimeout(() => {
          preloader.style.display = "none";
        }, 500); // tiempo que debe coincidir con el transition del CSS
      }
    });
  </script> -->
  <script src="{% static 'myapp/js/iniciarsesion.js' %}"></script>


  </body>
</html>