<!-- registro_modal.html -->
{% load static %}
<div class="modal fade" id="registroModal" tabindex="-1" aria-labelledby="registroModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="registroModalLabel">Crear Cuenta</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <form method="post" autocomplete="off">
          {% csrf_token %}
          <p class="descripcion">
            ¡Es muy fácil! Solo tienes que registrarte y en un par de pasos
            estarás listo para aprovechar todos los beneficios.
          </p>
          <hr />

          <div class="form-group">
            {{ form.tipo_documento.label_tag }} {{ form.tipo_documento }}
          </div>
          <div class="form-group">
            {{ form.numero_documento.label_tag }} {{ form.numero_documento }}
          </div>
          <div class="form-group">
            {{ form.first_name.label_tag }} {{ form.first_name }}
          </div>
          <div class="form-group">
            {{ form.last_name.label_tag }} {{ form.last_name }}
          </div>
          <div class="form-group">
            {{ form.rol.label_tag }} {{ form.rol }}
          </div>
          <div class="form-group">
            {{ form.contacto.label_tag }} {{ form.contacto }}
          </div>
          <div class="form-group">
            {{ form.username.label_tag }} {{ form.username }}
          </div>
          <div class="form-group">
            {{ form.password.label_tag }} {{ form.password }}
          </div>

          <button type="submit" class="btn btn-primary">Registrarse</button>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
