{% extends "contrasena/base.html" %} {% block title %}Contraseña Actualizada |Mi
Sitio{%endblock %} {% block auth_content %}
<div class="auth-header">
  <h2>¡Listo!</h2>
  <p class="text-muted">Contraseña actualizada correctamente</p>
</div>

<div class="alert alert-success">
  Tu contraseña ha sido cambiada exitosamente. Ahora puedes iniciar sesión con
  tu nueva contraseña.
</div>

<div class="text-center">
  <a href="{% url 'principal' %}" class="btn btn-success">Iniciar Sesión</a>
</div>
<style>
  .btn-success {
    background-color: rgb(34, 132, 33) !important; /* verde ejemplo */
    border-color: #28a745 !important;
  }
</style>
{% endblock %}
